body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

header {
  margin: 0px;
  border: 1px solid black;
  padding: 15px calc(50% - 960px/2);
  height: 100px;
  max-width: 100%;
  background: grey;
}
header h1 {
  margin: 10px;

  font-size: 3em;
}
#logo {
  height: 100px;
  width: 100px;

  float: left;
}

#menu {
  margin: 30px auto;
  border: 1px solid black;
  padding: 10px 0px;
  height: 30px;
  max-width: 960px;
  background: #CCC;

  text-align: center;
  
  clear: both;
}
#menu a {
  margin: 0% 10%;
  width: 13.3%;

  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: blue;

  float: left;
}
#menu a:link {
  text-decoration: none;
  color: blue;
}
#menu a:hover {
  color: blueviolet;
}

.contend {
  margin: 30px auto;
  padding: 10px 25px;
  max-width: 960px;

  text-align: center;
}
#nav p, #nav ul{
  display: inline-block;
}
#table>table {
  border-collapse: collapse;
  display: inline-block;
}
#table table th, #table table td {
  border: 1px solid black;
  padding: 5px;
}
#table tr:nth-child(2n) {
  background: #DDD;
}
#table tr:nth-child(2n-1) {
  background: #AAA;
}
#table tr:first-child {
  background: #BCA;
}

footer {
  border: 1px solid black;
  padding: 35px 15px;
  width: calc(100%-30px);
  min-height: 150px;
  background: gray;
}
footer * {
  margin: 5px 25px;
}
